<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-power">Team performance: </label>
    <input id="hero-power" [(ngModel)]="hero.power" placeholder="Team performance"/>
  </div>
  <div>
    <label for="hero-name">Team name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Team name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>